.range-selector {
  width: 200px;
  height: 45px;
  border-radius: 5px;
  position: absolute;
  right: 0px;
  border: 2px solid #ccc;
  display: flex;

  @mixin twobuttons {
    width: 100%;
    cursor: pointer;
    border: none;
  }
  .left-button {
    @include twobuttons();
    border-radius: 5px 0 0 5px;
  }
  .right-button {
    @include twobuttons();
    border-radius: 0 5px 5px 0;
  }
}
